ParentPortal/Service References/ParentServiceReference/ParentService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDetails" nillable="true" type="tns:LoginDetails" />
  <xs:complexType name="ParentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseManagerEdu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CaseManagerRes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CitizenShip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrntIEPExpireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CrntIEPStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateInitEligibleforSpclEducation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateofMostRecentSpecialEducationEvaluations" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateofNextScheduled3YearEvaluation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DischargeDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistinguishMarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmergencySchool" nillable="true" type="tns:ArrayOfEmergencySchoolContcts" />
      <xs:element minOccurs="0" name="EyeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuardianStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HairColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceDetl" nillable="true" type="tns:ArrayOfInsuranceDetails" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalCompetencyStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationAfterDischarge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalInform" nillable="true" type="tns:MedicalDetails" />
      <xs:element minOccurs="0" name="MelmarkNewEnglandsFollowUpResponsibilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherStateInvolveStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentMaritalStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefIEPInform" nillable="true" type="tns:ArrayOfRefIep" />
      <xs:element minOccurs="0" name="Relations" nillable="true" type="tns:ArrayOfRelationDetails" />
      <xs:element minOccurs="0" name="SchoolsAttended" nillable="true" type="tns:ArrayOfSchoolAttended" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentDetails" nillable="true" type="tns:ParentDetails" />
  <xs:complexType name="ArrayOfEmergencySchoolContcts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmergencySchoolContcts" nillable="true" type="tns:EmergencySchoolContcts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmergencySchoolContcts" nillable="true" type="tns:ArrayOfEmergencySchoolContcts" />
  <xs:complexType name="EmergencySchoolContcts">
    <xs:sequence>
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmergencySchoolContcts" nillable="true" type="tns:EmergencySchoolContcts" />
  <xs:complexType name="ArrayOfInsuranceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceDetails" nillable="true" type="tns:InsuranceDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceDetails" nillable="true" type="tns:ArrayOfInsuranceDetails" />
  <xs:complexType name="InsuranceDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsuranceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyHolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceDetails" nillable="true" type="tns:InsuranceDetails" />
  <xs:complexType name="MedicalDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMedications" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Capabilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diagnosis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtExam" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Limitations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SBCharacteristics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelfPA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalDetails" nillable="true" type="tns:MedicalDetails" />
  <xs:complexType name="ArrayOfRefIep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefIep" nillable="true" type="tns:RefIep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefIep" nillable="true" type="tns:ArrayOfRefIep" />
  <xs:complexType name="RefIep">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferringAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceofTuition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefIep" nillable="true" type="tns:RefIep" />
  <xs:complexType name="ArrayOfRelationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationDetails" nillable="true" type="tns:RelationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationDetails" nillable="true" type="tns:ArrayOfRelationDetails" />
  <xs:complexType name="RelationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtherPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrmryLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationDetails" nillable="true" type="tns:RelationDetails" />
  <xs:complexType name="ArrayOfSchoolAttended">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolAttended" nillable="true" type="tns:SchoolAttended" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolAttended" nillable="true" type="tns:ArrayOfSchoolAttended" />
  <xs:complexType name="SchoolAttended">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactSequence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchoolAttended" nillable="true" type="tns:SchoolAttended" />
  <xs:complexType name="ParentDetailsPA">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdaptiveEquip" nillable="true" type="tns:ArrayOfAdaptiveEquipment" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdmissionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Advocate" nillable="true" type="tns:RelationDetails" />
      <xs:element minOccurs="0" name="Allergies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ambulation" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="BasicBehaviouralInfo" nillable="true" type="tns:ArrayOfBasicBehaviouralInfo" />
      <xs:element minOccurs="0" name="BathRoom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BedroomAsleep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BedroomAwake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonAreas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Communication" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="Consciousness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Diagnoses" nillable="true" type="tns:ArrayOfDiagnoses" />
      <xs:element minOccurs="0" name="Diet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dressing" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="Eating" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FundingSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralInformation" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="GuardianStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegalGrdn1" nillable="true" type="tns:RelationDetails" />
      <xs:element minOccurs="0" name="LegalGrdn2" nillable="true" type="tns:RelationDetails" />
      <xs:element minOccurs="0" name="LiftingOrTransfers" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedforExtraHelp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OffCampus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnCampus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pool_Swimming" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredActivities" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="PrimaryCntct" nillable="true" type="tns:RelationDetails" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseToInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskofResistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seizures" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Showering" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="SkinCareOrSkinIntegrity" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SuggestedProactiveEnvironmentalProcedures" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="SupportCord" nillable="true" type="tns:RelationDetails" />
      <xs:element minOccurs="0" name="Task_Break" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Toileting" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="ToothBrushing" nillable="true" type="tns:ArrayOfBehaviours" />
      <xs:element minOccurs="0" name="TransitionsInside" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransitionsUneven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Van" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WakingResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WhenTransporting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParentDetailsPA" nillable="true" type="tns:ParentDetailsPA" />
  <xs:complexType name="ArrayOfAdaptiveEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdaptiveEquipment" nillable="true" type="tns:AdaptiveEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdaptiveEquipment" nillable="true" type="tns:ArrayOfAdaptiveEquipment" />
  <xs:complexType name="AdaptiveEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CleaningInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleForUse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StorageLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdaptiveEquipment" nillable="true" type="tns:AdaptiveEquipment" />
  <xs:complexType name="ArrayOfBehaviours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Behaviours" nillable="true" type="tns:Behaviours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBehaviours" nillable="true" type="tns:ArrayOfBehaviours" />
  <xs:complexType name="Behaviours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BehaviorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BehaviourId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Behaviours" nillable="true" type="tns:Behaviours" />
  <xs:complexType name="ArrayOfBasicBehaviouralInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicBehaviouralInfo" nillable="true" type="tns:BasicBehaviouralInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicBehaviouralInfo" nillable="true" type="tns:ArrayOfBasicBehaviouralInfo" />
  <xs:complexType name="BasicBehaviouralInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antecedent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Consequence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetBehaviour" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicBehaviouralInfo" nillable="true" type="tns:BasicBehaviouralInfo" />
  <xs:complexType name="ArrayOfDiagnoses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Diagnoses" nillable="true" type="tns:Diagnoses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnoses" nillable="true" type="tns:ArrayOfDiagnoses" />
  <xs:complexType name="Diagnoses">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiagnosesId" type="xs:int" />
      <xs:element minOccurs="0" name="DiagnosesName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Diagnoses" nillable="true" type="tns:Diagnoses" />
  <xs:complexType name="ProgressDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoalDt" nillable="true" type="tns:ArrayOfGoalData" />
      <xs:element minOccurs="0" name="GoalName" nillable="true" type="tns:GoalData" />
      <xs:element minOccurs="0" name="Goalid" nillable="true" type="tns:GoalData" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IEPDtFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IEPDtTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LessonplanName" nillable="true" type="tns:GoalData" />
      <xs:element minOccurs="0" name="SclDistrictAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SclDistrictContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SclDistrictName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="schooladdr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stdtIEPId" type="xs:int" />
      <xs:element minOccurs="0" name="student" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressDetails" nillable="true" type="tns:ProgressDetails" />
  <xs:complexType name="ArrayOfGoalData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalData" nillable="true" type="tns:GoalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalData" nillable="true" type="tns:ArrayOfGoalData" />
  <xs:complexType name="GoalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoalLPRelId" type="xs:int" />
      <xs:element minOccurs="0" name="GoalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoalNo" type="xs:int" />
      <xs:element minOccurs="0" name="Goalid" type="xs:int" />
      <xs:element minOccurs="0" name="LessonplanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lessonplanid" type="xs:int" />
      <xs:element minOccurs="0" name="PlcacementList" nillable="true" type="tns:ArrayOfGridListPlacement" />
      <xs:element minOccurs="0" name="ProgressInfo" nillable="true" type="tns:ArrayOfReportDetails" />
      <xs:element minOccurs="0" name="RptList" nillable="true" type="tns:ArrayOfReportInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalData" nillable="true" type="tns:GoalData" />
  <xs:complexType name="ArrayOfGridListPlacement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GridListPlacement" nillable="true" type="tns:GridListPlacement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGridListPlacement" nillable="true" type="tns:ArrayOfGridListPlacement" />
  <xs:complexType name="GridListPlacement">
    <xs:sequence>
      <xs:element minOccurs="0" name="objective1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objective2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objective3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GridListPlacement" nillable="true" type="tns:GridListPlacement" />
  <xs:complexType name="ArrayOfReportDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDetails" nillable="true" type="tns:ReportDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDetails" nillable="true" type="tns:ArrayOfReportDetails" />
  <xs:complexType name="ReportDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="iepid" type="xs:int" />
      <xs:element minOccurs="0" name="rptdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDetails" nillable="true" type="tns:ReportDetails" />
  <xs:complexType name="ArrayOfReportInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportInfo" nillable="true" type="tns:ReportInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportInfo" nillable="true" type="tns:ArrayOfReportInfo" />
  <xs:complexType name="ReportInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="VisibleToParent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="goalid" type="xs:int" />
      <xs:element minOccurs="0" name="rptdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rptid" type="xs:int" />
      <xs:element minOccurs="0" name="rptinfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stdtIEPId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportInfo" nillable="true" type="tns:ReportInfo" />
  <xs:complexType name="ArrayOfIEPDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IEPDetails" nillable="true" type="tns:IEPDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIEPDetails" nillable="true" type="tns:ArrayOfIEPDetails" />
  <xs:complexType name="IEPDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IEPId" type="xs:int" />
      <xs:element minOccurs="0" name="IEPYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IEPDetails" nillable="true" type="tns:IEPDetails" />
  <xs:complexType name="ArrayOfDocDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocDetails" nillable="true" type="tns:DocDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocDetails" nillable="true" type="tns:ArrayOfDocDetails" />
  <xs:complexType name="DocDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocDetails" nillable="true" type="tns:DocDetails" />
  <xs:complexType name="ArrayOfActivities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activities" nillable="true" type="tns:Activities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivities" nillable="true" type="tns:ArrayOfActivities" />
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activities" nillable="true" type="tns:Activities" />
  <xs:complexType name="ArrayOfActivitiesList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivitiesList" nillable="true" type="tns:ActivitiesList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivitiesList" nillable="true" type="tns:ArrayOfActivitiesList" />
  <xs:complexType name="ActivitiesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BehaviourAnalyst" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiredOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PrimaryNurse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Program" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitClerk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivitiesList" nillable="true" type="tns:ActivitiesList" />
  <xs:complexType name="ArrayOfDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" nillable="true" type="tns:Documents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocuments" nillable="true" type="tns:ArrayOfDocuments" />
  <xs:complexType name="Documents">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Other" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Types" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documents" nillable="true" type="tns:Documents" />
  <xs:complexType name="ArrayOfConcents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Concents" nillable="true" type="tns:Concents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConcents" nillable="true" type="tns:ArrayOfConcents" />
  <xs:complexType name="Concents">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConcentForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConcentId" type="xs:int" />
      <xs:element minOccurs="0" name="SignedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Concents" nillable="true" type="tns:Concents" />
</xs:schema>