ParentPortal/Service References/ParentServiceReference/ParentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53525/Parent Webservice/ParentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:53525/Parent Webservice/ParentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
  <xs:element name="GetParentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetParentDetailsResult" nillable="true" type="q1:ParentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentDetailsPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentDetailsPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetParentDetailsPAResult" nillable="true" type="q2:ParentDetailsPA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIEPLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="SchoolId" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIEPListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetIEPListsResult" nillable="true" type="q3:ArrayOfIEPDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinaryDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="SchoolId" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBinaryDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetBinaryDocResult" nillable="true" type="q4:ArrayOfDocDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalRecordIEP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalRecordIEPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalRecordIEPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetActivitiesResult" nillable="true" type="q5:ArrayOfActivities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalActivityCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalActivityCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalActivityCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatusForDDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatusForDDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" minOccurs="0" name="GetAllStatusForDDLResult" nillable="true" type="q6:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDocumentsResult" nillable="true" type="q7:ArrayOfDocuments" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDocumentCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalDocumentCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalDocumentCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SchoolId" type="xs:int" />
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="DocName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="DocPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileUploadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetConcentsResult" nillable="true" type="q8:ArrayOfConcents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalConcentForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalConcentFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalConcentFormsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="DocumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsForBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BehaviourName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsForBehaviourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetItemsForBehaviourResult" nillable="true" type="q9:ArrayOfBehaviours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>