ParentPortal/Service References/ParentServiceReference/ParentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64750/107Parent Service1.3/ParentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64750/107Parent Service1.3/ParentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64750/107Parent Service1.3/ParentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:64750/107Parent Service1.3/ParentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IParentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IParentService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentId" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetSchoolId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolId" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetSchoolId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolIdResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentName" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentNameResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_getCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountry" />
  </wsdl:message>
  <wsdl:message name="IParentService_getCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_getState_InputMessage">
    <wsdl:part name="parameters" element="tns:getState" />
  </wsdl:message>
  <wsdl:message name="IParentService_getState_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStateResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetImageUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUrl" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetImageUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_DownloadDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDoc" />
  </wsdl:message>
  <wsdl:message name="IParentService_DownloadDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDocResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDetails" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentDetailsPA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDetailsPA" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetParentDetailsPA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDetailsPAResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_CLientsReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CLientsReport" />
  </wsdl:message>
  <wsdl:message name="IParentService_CLientsReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CLientsReportResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetProgressReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgressReport" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetProgressReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgressReportResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetIEPLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIEPLists" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetIEPLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIEPListsResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetBinaryDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryDoc" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetBinaryDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryDocResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalRecordIEP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalRecordIEP" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalRecordIEP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalRecordIEPResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivities" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetActivitiesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesList" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetActivitiesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivitiesListResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalActivityCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalActivityCount" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalActivityCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalActivityCountResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetAllStatusForDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatusForDDL" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetAllStatusForDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatusForDDLResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalDocumentCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalDocumentCount" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalDocumentCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalDocumentCountResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_FileUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUpload" />
  </wsdl:message>
  <wsdl:message name="IParentService_FileUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetConcents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConcents" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetConcents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConcentsResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalConcentForms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalConcentForms" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetTotalConcentForms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalConcentFormsResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IParentService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_SignUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUpdate" />
  </wsdl:message>
  <wsdl:message name="IParentService_SignUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetItemsForBehaviour_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsForBehaviour" />
  </wsdl:message>
  <wsdl:message name="IParentService_GetItemsForBehaviour_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsForBehaviourResponse" />
  </wsdl:message>
  <wsdl:portType name="IParentService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/Login" message="tns:IParentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/LoginResponse" message="tns:IParentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/ChangePassword" message="tns:IParentService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/ChangePasswordResponse" message="tns:IParentService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetStudentId" message="tns:IParentService_GetStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetStudentIdResponse" message="tns:IParentService_GetStudentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolId">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetSchoolId" message="tns:IParentService_GetSchoolId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetSchoolIdResponse" message="tns:IParentService_GetSchoolId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentName">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetParentName" message="tns:IParentService_GetParentName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetParentNameResponse" message="tns:IParentService_GetParentName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/getCountry" message="tns:IParentService_getCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/getCountryResponse" message="tns:IParentService_getCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/getState" message="tns:IParentService_getState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/getStateResponse" message="tns:IParentService_getState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetImageUrl" message="tns:IParentService_GetImageUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetImageUrlResponse" message="tns:IParentService_GetImageUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/DownloadDoc" message="tns:IParentService_DownloadDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/DownloadDocResponse" message="tns:IParentService_DownloadDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetParentDetails" message="tns:IParentService_GetParentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetParentDetailsResponse" message="tns:IParentService_GetParentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentDetailsPA">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetParentDetailsPA" message="tns:IParentService_GetParentDetailsPA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetParentDetailsPAResponse" message="tns:IParentService_GetParentDetailsPA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CLientsReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/CLientsReport" message="tns:IParentService_CLientsReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/CLientsReportResponse" message="tns:IParentService_CLientsReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgressReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetProgressReport" message="tns:IParentService_GetProgressReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetProgressReportResponse" message="tns:IParentService_GetProgressReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIEPLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetIEPLists" message="tns:IParentService_GetIEPLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetIEPListsResponse" message="tns:IParentService_GetIEPLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBinaryDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetBinaryDoc" message="tns:IParentService_GetBinaryDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetBinaryDocResponse" message="tns:IParentService_GetBinaryDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalRecordIEP">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetTotalRecordIEP" message="tns:IParentService_GetTotalRecordIEP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetTotalRecordIEPResponse" message="tns:IParentService_GetTotalRecordIEP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetActivities" message="tns:IParentService_GetActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetActivitiesResponse" message="tns:IParentService_GetActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetActivitiesList" message="tns:IParentService_GetActivitiesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetActivitiesListResponse" message="tns:IParentService_GetActivitiesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalActivityCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetTotalActivityCount" message="tns:IParentService_GetTotalActivityCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetTotalActivityCountResponse" message="tns:IParentService_GetTotalActivityCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatusForDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetAllStatusForDDL" message="tns:IParentService_GetAllStatusForDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetAllStatusForDDLResponse" message="tns:IParentService_GetAllStatusForDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetDocuments" message="tns:IParentService_GetDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetDocumentsResponse" message="tns:IParentService_GetDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalDocumentCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetTotalDocumentCount" message="tns:IParentService_GetTotalDocumentCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetTotalDocumentCountResponse" message="tns:IParentService_GetTotalDocumentCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/FileUpload" message="tns:IParentService_FileUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/FileUploadResponse" message="tns:IParentService_FileUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConcents">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetConcents" message="tns:IParentService_GetConcents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetConcentsResponse" message="tns:IParentService_GetConcents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalConcentForms">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetTotalConcentForms" message="tns:IParentService_GetTotalConcentForms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetTotalConcentFormsResponse" message="tns:IParentService_GetTotalConcentForms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/Delete" message="tns:IParentService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/DeleteResponse" message="tns:IParentService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/SignUpdate" message="tns:IParentService_SignUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/SignUpdateResponse" message="tns:IParentService_SignUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsForBehaviour">
      <wsdl:input wsaw:Action="http://tempuri.org/IParentService/GetItemsForBehaviour" message="tns:IParentService_GetItemsForBehaviour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParentService/GetItemsForBehaviourResponse" message="tns:IParentService_GetItemsForBehaviour_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParentService" type="tns:IParentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IParentService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IParentService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentId">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolId">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetSchoolId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentName">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetParentName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountry">
      <soap:operation soapAction="http://tempuri.org/IParentService/getCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <soap:operation soapAction="http://tempuri.org/IParentService/getState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageUrl">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetImageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadDoc">
      <soap:operation soapAction="http://tempuri.org/IParentService/DownloadDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentDetails">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetParentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentDetailsPA">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetParentDetailsPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLientsReport">
      <soap:operation soapAction="http://tempuri.org/IParentService/CLientsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgressReport">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetProgressReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIEPLists">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetIEPLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBinaryDoc">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetBinaryDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalRecordIEP">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetTotalRecordIEP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesList">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetActivitiesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalActivityCount">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetTotalActivityCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatusForDDL">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetAllStatusForDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalDocumentCount">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetTotalDocumentCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileUpload">
      <soap:operation soapAction="http://tempuri.org/IParentService/FileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConcents">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetConcents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalConcentForms">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetTotalConcentForms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IParentService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpdate">
      <soap:operation soapAction="http://tempuri.org/IParentService/SignUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsForBehaviour">
      <soap:operation soapAction="http://tempuri.org/IParentService/GetItemsForBehaviour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParentService">
    <wsdl:port name="BasicHttpBinding_IParentService" binding="tns:BasicHttpBinding_IParentService">
      <soap:address location="http://localhost:64750/107Parent%20Service1.3/ParentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>